<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<title>Home Page</title> 
	<meta charset="utf-8"> 
	<meta name="viewport"
		content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
	<script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
	</script> 
	<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
	</script> 
	<script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
	</script> 
</head> 
<body> 
	<header> 
		<div class="container text-center" > 
			<h1 style="color: green">Grocery Store Management System</h1> 
		</div> 
	</header> 

	<br/> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-sm-4"> 
				<div class="text-center"> 
					<a href="{{url_for('HomePage')}}">Home</a> 
				</div> 
			</div> 
			<div class="col-sm-4"> 
				<div class="text-center"> 
					<a href="{{url_for('ProductsPage')}}">Shop</a>
				</div> 
			</div> 
			<div class="col-sm-4"> 
				<div class="text-center"> 
					<a href="{{url_for('OrderPage')}}">Orders</a> 
				</div> 
			</div> 
		</div> 
	</div> 
	<!-- <footer> 
		<hr /> 
		<div class="container"> 
			<p> 
				<a href="https://www.geeksforgeeks.org/"> 
					Visit 
				</a> 
				our website 
			</p> 
			<p> 
				<a href="https://www.geeksforgeeks.org/"> 
					Like 
				</a> 
				us on facebook 
			</p> 
		</div> 
	</footer>  -->
</body> 
</html> 




